@charset "UTF-8";
/*
//──── spinner animations ─────────────────────────────────────────────────────
$loading-spinner-size: 250px;
$loading-spinner-circle-thikness: 5px;
$loading-spinner-duration: 3s;

//──── checkmark-anim-duration ─────────────────────────────────────────────────
$checkmark-anim-duration: 400ms

*/
/*              REsponsive categories vs breakpoints                            *
 *    mobile-bkpt            tablet-bkpt        laptop-bkpt     desktop-bkpt    *
 * mobile |        small-tablet    |      tablet     |     laptop    | desktop  *
 *                                                                              */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: #232323;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1;
}

h1 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  font-style: normal;
  line-height: 1.1;
}

h2 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  font-style: normal;
  line-height: 1.1;
}

h3 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  font-style: normal;
  line-height: 1.1;
}

p {
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
  line-height: 3rem;
}

/*                                                                            *
 *                                   header                                   *
 *  row flexbox including logo and nav                                        *
 *  geometry defined with % and vh to adjust full page fit on screen          *
 *                                                                            */
.header {
  margin-top: 5rem;
  margin-left: 100px;
  margin-right: 100px;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header_logo {
  height: 5rem;
}

.header_top-nav_ul {
  list-style: none;
  display: inline-block;
  vertical-align: bottom;
}

.header_top-nav_ul_li {
  display: inline-block;
}

.header_top-nav_ul_li_a {
  display: block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 9px 14px 9px 12px;
  background-color: #FFFFFF;
  border-radius: 0.8rem;
}

.header_top-nav_ul_li_a:visited, .header_top-nav_ul_li_a:link {
  color: #232323;
}

.header_top-nav_ul_li_a:hover, .header_top-nav_ul_li_a:active, .header_top-nav_ul_li_a:focus {
  background-color: #FE142F;
  color: #FFFFFF;
  -webkit-text-decoration: underline #FFFFFF;
          text-decoration: underline #FFFFFF;
}

.footer {
  margin-top: 9rem;
  margin-left: 4rem;
}

.footer_copyright {
  color: #FE142F;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

/* 
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";
*/
.pitch {
  margin-top: 8.5rem;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 8px;
  width: 86.11111%;
  height: 66rem;
  background-color: #232323;
  overflow: hidden;
  -webkit-box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
  position: relative;
}

.title {
  padding-top: 5rem;
  margin-left: 56px;
  width: 71.77419%;
  position: relative;
  z-index: 1;
  line-height: 12.5rem;
  font-size: 9.6rem;
  font-weight: 500;
  color: #FFFFFF;
}

.subtitle {
  margin-top: 7rem;
  margin-left: 56px;
  width: 34.67742%;
  position: relative;
  z-index: 1;
  color: #FFFFFF;
  font-size: 2.4rem;
  font-weight: 400;
}

.background-picture {
  height: 66rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.subscription-launch-button {
  margin-top: 7rem;
  margin-left: 56px;
  padding: 11px 30px 11px 30px;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 500;
  font-style: normal;
  background-color: #FE142F;
  color: #FFFFFF;
  border-radius: 0.8rem;
  border: none;
}

.subscription-launch-button:hover {
  cursor: pointer;
}

.lightbox {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #C4C4C4;
  background: rgba(196, 196, 196, 0.7);
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.modal {
  margin-top: 8.7rem;
  width: 37.22222%;
  height: 85rem;
  position: relative;
  border-radius: 0.8rem;
  background-color: #232323;
  color: #FFFFFF;
}

.modal_header {
  height: 3.6rem;
  position: relative;
}

.modal_header_modal-quit-icon {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  font-size: 4.6rem;
  line-height: 1.7rem;
  color: white;
  text-decoration: none;
}

.modal_header_modal-quit-icon:hover {
  cursor: pointer;
}

.modal_main {
  padding-left: 3.9rem;
  padding-right: 3.9rem;
  font-size: 0;
}

.subscription_form_label {
  margin-top: 0.8rem;
  display: block;
  line-height: 1.4rem;
  font-size: 1.4rem;
  font-weight: 400;
}

.subscription_form_input {
  margin-top: 0.7rem;
  width: 100%;
  height: 6.4rem;
  border: 1px solid #C4C4C4;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 400;
}

.subscription_form_input:hover {
  cursor: text;
}

.subscription_form_error-message {
  margin-top: 0.2rem;
  font-size: 1.1rem;
  height: 1.1rem;
  line-height: 1.1rem;
  color: #FF4E60;
}

.subscription_form_input-location {
  margin-top: 0.8rem;
}

.subscription_form_input-radio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.subscription_form_input-radio:checked + label:before,
.subscription_form_input-radio:checked + label:after {
  border-color: #279E7A;
}

.subscription_form_input-radio_label {
  margin-right: 2.8rem;
  margin-bottom: 1.0rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.subscription_form_input-radio_label:hover {
  cursor: pointer;
}

.subscription_form_input-radio_label:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  margin-right: 6px;
  border-radius: 50%;
  border: 0.1rem solid #C4C4C4;
}

.subscription_form_input-radio_label:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 0;
  height: 0;
  border-radius: 50%;
  border: 9px solid #232323;
}

.subscription_form_input-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.subscription_form_input-checkbox:checked + label > .subscription_form_input-checkbox_label_icon-check {
  background-color: #279E7A;
  color: #FFFFFF;
}

.subscription_form_input-checkbox_label {
  margin-top: 0.2rem;
  margin-right: 1.4rem;
  font-size: 1.2rem;
  line-height: 2.6rem;
  font-weight: 400;
  display: inline-block;
  position: relative;
}

.subscription_form_input-checkbox_label:hover {
  cursor: pointer;
}

.subscription_form_input-checkbox_label_icon-check {
  display: inline-block;
  position: relative;
  width: 2.6rem;
  height: 2.6rem;
  margin-right: 0.6rem;
  border-radius: 6px;
  background-color: #C4C4C4;
  color: #C4C4C4;
  font-size: 1.4rem;
  padding-left: 6px;
}

.subscription_form_submit {
  margin-top: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.subscription_form_submit_button {
  padding: 11px 56px 11px 56px;
  font-size: 1.4rem;
  font-weight: 500;
  font-style: normal;
  background-color: #FE142F;
  color: #FFFFFF;
  border-radius: 0.8rem;
  border: none;
}

.subscription_form_submit_button:hover {
  cursor: pointer;
}

.--erroneous {
  border-color: #FF4E60;
}

.modal_confirmation {
  display: none;
}

.modal_confirmation_content {
  height: 74.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal_confirmation_content_message {
  width: 58.95197%;
  text-align: center;
  font-size: 3.6rem;
  line-height: 5.6rem;
}

.modal_confirmation_close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.modal_confirmation_close_button {
  padding: 11px 56px 11px 56px;
  font-size: 1.4rem;
  font-weight: 500;
  font-style: normal;
  background-color: #FE142F;
  color: #FFFFFF;
  border-radius: 0.8rem;
  border: none;
}

.modal_confirmation_close_button:hover {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */