:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Landing Page */

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-default);
  font-size: 18px;
  margin: 0 auto;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 50px;
}

.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 16px;
  font-family: Roboto, sans-serif;
}

.topnav a:first-child {
  display: none;
}

.topnav a:hover {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 15px;
}

.topnav .icon {
  display: none;
}

main {
  font-weight: bolder;
  color: black;
  padding-top: 0.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 1px 20px 15px;
  border-radius: 2rem;
  text-align: justify;
}

.modal-btn {
  font-size: 145%;
  background: #fe142f;
  display: flex;
  margin: auto;
  color: #fff;
  padding: 0.75rem 2.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.modal-btn:hover {
  background: #3876ac;
}

/* Modal form */

.bground {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #232323;
}

.content {
  box-shadow: 4px 4px 4px #262626 inset, -4px -4px 4px 0px #202020 inset;
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}

.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}

label {
  font-family: var(--font-default);
  font-size: 17px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 11px;
}
input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}
.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
}

.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  font-weight: normal;
}
.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}
.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}
.checkbox-input {
  display: none;
}

.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}
.checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: #279e7a;
}
.checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}
.checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}
.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.btn-submit,
.btn-signup {
  background: #fe142f;
  display: block;
  margin: 0 auto;
  border-radius: 7px;
  font-size: 1rem;
  padding: 12px 82px;
  color: #fff;
  cursor: pointer;
  border: 0;
}

/* custom select end */
.text-label {
  font-weight: normal;
  font-size: 16px;
}
.hero-section {
  max-height: 70vh;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
.hero-content {
  background: #232323;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;

  padding: 51px 67px;
  grid-column: span 4;
  color: #fff;
  text-align: left;
  min-width: 350px;
}

.hero-headline {
  font-size: 5.6rem;
  font-weight: normal;
  white-space: nowrap;
}
.hero-text {
  width: 120%;
  font-weight: normal;
  margin-top: 57px;
  padding: 0;
}
.btn-signup {
  outline: none;
  text-transform: capitalize;
  font-size: 1.3rem;
  padding: 15px 23px;
  margin: 0;
  margin-top: 59px;
}
.hero-img {
  grid-column: span 8;
}
.hero-img img {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
}
.copyrights {
  color: #fe142f;
  padding: 0;
  font-size: 1rem;
  margin: 60px 0 30px;
  font-weight: bolder;
}

.hero-section > .btn-signup {
  display: none;
}

footer {
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 0 20px;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}

/* Classe crée pour le javascript */

.erreur {
  color: red;
  font-size: 14px;
}

.valid {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input:not(:focus):invalid{
  border: 2px solid red;
}

/* Si la saisi est incorrect quand le champs n'est plus ciblé , mettre les bors en rouge */



@media screen and (max-width: 998px) {
  body {
    width: 90%;
    margin: auto;
  }
  .topnav {
    width: 100%;
    margin: 20px 0;
  }

  .topnav a {
    display: none;
  }
  .topnav a.icon {
    color: red;
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-logo img {
    width: 150px;
  }

  .bground {
    top: 70px;
    width: 100%;
    height: auto;
  }

  .content {
    height: 100%;
    width: 100%;
    max-width: none;
    margin: 0;
  }

  .checkbox-label,
  .checkbox2-label {
    margin-left: 32px;
  }

  main {
    margin: 0;
    padding: 0;
  }

  .hero-section {
    display: block;
    box-shadow: unset;
    width: 100%;
    max-height: none;
  }
  .hero-content {
    background: #fff;
    color: #000;
    padding: 0 25px 0 0;
  }

  .hero-content .btn-signup {
    display: none;
  }
  .hero-headline {
    font-size: 2.5rem;
    white-space: normal;
  }
  .hero-text {
    margin-top: 20px;
    width: unset;
    font-size: 1rem;
  }
  .hero-img img {
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
  }
  .hero-section > .btn-signup {
    display: block;
    margin: 30px auto;
    padding: 12px 35px;
  }

  label {
    margin: 12px 0;
  }

  .btn-submit {
    margin: 20px auto;
  }

  .copyrights {
    margin-top: 20px;
    text-align: center;
  }
}
