:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Landing Page */

body {
  display: flex;
  flex-direction: column;
  background-image: url("background.png");
  font-family: var(--font-default);
  font-size: 18px;
  max-width: 1300px;
  margin: 0 auto;
}

img {
  padding-right: 1rem;
}

.topnav {
  overflow: hidden;
  margin: 3.5%;
}

.header-logo {
  float: left;
}

.main-navbar {
  float: right;
}

.topnav a {
  float: left;
  display: block;
  color: #FF001B;
  text-align: center;
  padding: 12px 12px;
  margin: 5px;
  text-decoration: none;
  font-size: 20px;
  font-family: Roboto, sans-serif;
}

.topnav a:hover {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 15px;
}

.topnav a.active {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 15px;
  text-decoration: underline;
}

.topnav .icon {
  display: none;
}

main {
  color: black;
  padding-top: 0.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 1px 20px;
  border-radius: 2rem;
  text-align: justify;
}

.modal-btn,
.btn-close {
  font-size: 145%;
  display: flex;
  margin: auto;
  padding: 2em;
  color: #fff;
  padding: 0.75rem 2.5rem;
  border-radius: 1rem;
}

.footer {
  margin: 20px;
  padding: 10px;
  font-family: var(--font-slab);
}

/* Modal form */

.button {
  background: #fe142f;
  margin-top: 0.5em;
  padding: 1em;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background: #3876ac;
}

.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: white;
}

.content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
  height: max-content;
}

.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}

label {
  font-size: 0.875rem;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 9px;
}

input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}

.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 1.125rem;
  height: 48px;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.4em;
  color: #e54858;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
  opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
  border: 2px solid #e54858;
}

.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  font-weight: normal;
}

.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}

.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked+.checkbox-label .checkbox-icon::after,
.checkbox-input:checked+.checkbox2-label .checkbox-icon::after {
  opacity: 1;
}

.checkbox-input:checked+.checkbox2-label .checkbox-icon {
  background: #279e7a;
}

.checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}

.checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.btn-submit,
.btn-signup,
.btn-close {
  display: block;
  margin: 0 auto;
  border-radius: 7px;
  font-size: 0.8rem;
  padding: 12px 82px;
  border: 0;
}

/* custom select styles */
.custom-select {
  position: relative;
  font-family: Arial;
  font-size: 1.1rem;
  font-weight: normal;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: #fff;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 10px;
  right: 13px;
  width: 11px;
  height: 11px;
  border: 3px solid transparent;
  border-bottom-color: #f00;
  border-left-color: #f00;
  transform: rotate(-48deg);
  border-radius: 5px 0 5px 0;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  transform: rotate(135deg);
  top: 13px;
}

.select-items div,
.select-selected {
  color: #000;
  padding: 11px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  border-radius: 8px;
  height: 48px;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #fff;
  top: 89%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* custom select end */

.hero-section {
  min-height: 93vh;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.hero-content {
  padding: 51px 67px;
  grid-column: span 4;
  background: #232323;
  color: #fff;
  position: relative;
  text-align: left;
  min-width: 424px;
}

.hero-content::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #232323;
  position: absolute;
  right: -80px;
  top: 0;
}

.hero-content>* {
  position: relative;
  z-index: 1;
}

.hero-headline {
  font-size: 6rem;
  font-weight: normal;
  white-space: nowrap;
}

.hero-text {
  width: 146%;
  margin-top: 57px;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
}

.btn-signup {
  background-color: #fe142f;
  outline: none;
  text-transform: capitalize;
  font-size: 1.3rem;
  padding: 15px 23px;
  margin: 0;
  margin-left: 70px;
  margin-top: 59px;
  position: absolute;
  bottom: 15%;
}

.hero-img {
  grid-column: span 8;
}

.hero-img img {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
  object-fit: cover;
}

.copyrights {
  color: #fe142f;
  padding: 0;
  font-size: 1rem;
  margin: 60px 0 30px;
  font-weight: bolder;
}


footer {
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 0 20px;
}

/* submition error */
.error {
  color: #ff4e60;
  font-size: 10px;
}

.invalid-input {
  box-shadow: 0px 0px 0px 2px #ff4e60 inset;
}

/* submition success message */
.valid-message {
  display: none;
  height: 100%;
}

.valid-message p {
  font-size: 36px;
  margin-top: 330px;
  margin-bottom: 300px;
  text-align: center;
}

.btn-close {
  bottom: 17px;
}

@media screen and (max-width: 800px) {
  .header-logo img {
    height: 19px;
    margin-left: 16.875px;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: unset;
  }

  .hero-content {
    background: #fff;
    color: #000;
    padding: 0px;
    min-width: auto;
  }

  .hero-content::after {
    content: unset;
  }

  .hero-headline {
    font-size: 2.3rem;
    order: 1;
  }

  .hero-text {
    width: fit-content;
    margin-top: 17px;
    font-size: 0.75rem;
    overflow: auto;
  }

  .hero-img img {
    border-radius: 10px;
    margin-top: 40px;
    order: 3;
  }

  .hero-section>.btn-signup {
    display: block;
    position: unset;
    padding: 12px 35px;
    font-size: 0.8rem;
    margin: 30px 30px;
    order: 4;
  }

  .content {
    margin: 12% auto;
  }

  .valid-message p {
    margin-top: 190px;
    margin-bottom: 239px;
  }

  .btn-close {
    width: 141px;
    height: 31px;
    padding: 0px;
    font-size: 0.8rem;
    margin-top: 225px;
    text-align: center;
  }

  .copyrights {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0px;
    margin-bottom: 26px;
  }
}

@media screen and (max-width: 768px) {
  .topnav a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .bground {
    background-color: transparent;
  }

  .text-control {
    height: 42px;
  }

  checkbox-label,
  .checkbox2-label, 
  label {
    font-size: 0.78rem;
  }

  .btn-submit {
    width: 141px;
    height: 31px;
    padding-top: 7px;
    padding-left: 39px;
  }
}

@media screen and (max-width: 540px) {
  .topnav a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
    margin-top: -15px;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }

  to {
    opacity: 1;
  }
}