.footer {
    margin-top : 9rem;
    margin-left: 4rem;
    &_copyright {
        color: $color-red;
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
}