.topnav {
    overflow: hidden;
    margin: 3.5%;
    a {
        float: left;
        display: block;
        color: #000000;
        text-align: center;
        padding: 12px 12px;
        margin: 5px;
        text-decoration: none;
        font-size: 20px;
        font-family: Roboto, sans-serif;
    }
    a:hover {
        background-color: #ff0000;
        color: #ffffff;
        border-radius: 15px;
    }
    a.active {
        background-color: #ff0000;
        color: #ffffff;
        border-radius: 15px;
    }
    .icon {
        display: none;
        color: #ff0000;
        vertical-align: middle;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .topnav {
        a {
            display: none;
            
            .icon {
                float: right;
                display: block;
            }
        }

        .responsive {
            position: relative;
            .icon {
                position: absolute;
                right: 0;
                top: 0;
            }
            a {
                float: none;
                display: block;
                text-align: left;
            }
        }

    }
}
  
@media screen and (max-width: 768px) {
    
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav a {
        display: none;
    }

    .topnav a.icon {
      float: right;
      display: block;
      font-size: 2rem;
    }
}
  
@media screen and (max-width: 540px) {
   
} 