//==============================================================================
/*                                                                            *
 *                                   header                                   *
 *  row flexbox including logo and nav                                        *
 *  geometry defined with % and vh to adjust full page fit on screen          *
 *                                                                            */
//==============================================================================
 
.header {
    margin-top: 5rem;
    margin-left: 100px;
    margin-right: 100px;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    &_logo {
        height: 5rem;
    }
    &_top-nav {
        &_ul {
            list-style: none;
            display: inline-block;
            vertical-align: bottom;
            &_li {
                display: inline-block;
                &_a {
                    display: block;
                    text-decoration: none;
                    font-size: 1.8rem;
                    font-weight: 500;
                    padding: 9px 14px 9px 12px;
                    background-color: $color-white;
                    border-radius: 0.8rem;
                    &:visited, &:link {
                        color: $color-black;               
                    }
                    &:hover, &:active, &:focus {
                        background-color: $color-red;
                        color: $color-white;
                        text-decoration: underline $color-white;
                    }
                }
            }
        }
    }
}
