main {
    font-size: 130%;
    font-weight: bolder;
    color: black;
    padding-top: 0.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 1px 20px 15px;
    border-radius: 2rem;
    text-align: justify;
  
  
}
.hero-img {
    grid-column: span 8;
}
.hero-img img {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0;
}
  
.hero-section > .btn-signup {
    display: none;
}


  /* custom select end */

.hero-section {
    min-height: 93vh;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow: hidden;
    box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}
.hero-content {
    padding: 51px 67px;
    grid-column: span 4;
    background: #232323;
    color: #fff;
    position: relative;
    text-align: left;
    min-width: 424px;
}
.hero-content::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #232323;
    position: absolute;
    right: -80px;
    top: 0;
}
  
.hero-content > * {
    position: relative;
    z-index: 1;
}
.hero-headline {
    font-size: 6rem;
    font-weight: normal;
    white-space: nowrap;
}
  
.hero-text {
    width: 146%;
    font-weight: normal;
    margin-top: 57px;
    padding: 0;
}
  
@media screen and (max-width: 800px) {
    .hero-section {
      display: block;
      box-shadow: unset;
    }
    .hero-content {
      background: #fff;
      color: #000;
      padding: 20px;
    }
    .hero-content::after {
      content: unset;
    }
    .hero-content .btn-signup {
      display: none;
    }
    .hero-headline {
      font-size: 4.5rem;
      white-space: normal;
    }
    .hero-text {
      width: unset;
      font-size: 1.5rem;
    }
    .hero-img img {
      border-radius: 10px;
      margin-top: 40px;
    }
    .hero-section > .btn-signup {
      display: block;
      margin: 32px auto 10px;
      padding: 12px 35px;
    }
    .copyrights {
      margin-top: 50px;
      text-align: center;
    }
}