main {
    font-size: 130%;
    font-weight: bolder;
    color: black;
    padding-top: 0.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 1px 20px 15px;
    border-radius: 2rem;
    text-align: justify;
  
  
}
  
@media screen and (max-width: 800px) {
    .hero-section {
      display: block;
      box-shadow: unset;
    }
    .hero-content {
      background: #fff;
      color: #000;
      padding: 20px;
    }
    .hero-content::after {
      content: unset;
    }
    .hero-content .btn-signup {
      display: none;
    }
    .hero-headline {
      font-size: 4.5rem;
      white-space: normal;
    }
    .hero-text {
      width: unset;
      font-size: 1.5rem;
    }
    .hero-img img {
      border-radius: 10px;
      margin-top: 40px;
    }
    .hero-section > .btn-signup {
      display: block;
      margin: 32px auto 10px;
      padding: 12px 35px;
    }
    .copyrights {
      margin-top: 50px;
      text-align: center;
    }
}