.bground {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(26, 39, 156, 0.4);

    .content {
        margin: 5% auto;
        width: 100%;
        max-width: 500px;
        animation-name: modalopen;
        animation-duration: var(--modal-duration);
        background: #232323;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        color: #fff;
        padding-top: 10px;
        
        .modal-body {
            padding: 15px 8%;
            margin: 15px auto;
        }
    }
}