/* modal body */

.bground {
  display: none;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  min-height: 700px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}

@media screen and (max-width: 550px) {
  .content {
    border-radius: 0;
    margin: 0;
  }
}
.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}

/* Closing btn and animation */

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.btn-submit,
.btn-signup {
  background: #fe142f;
  display: block;
  margin: 0 auto;
  border-radius: 7px;
  font-size: 1rem;
  padding: 12px 82px;
  color: #fff;
  cursor: pointer;
  border: 0;
}

/* Validation style */

.validate h3 {
  margin: 275px auto;
  text-align: center;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

/* Apparition modal */

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
