 /* MEDIA QUERIES */
  /* MOBILE */
  @media screen and (max-width: 768px) {
    .topnav {
      flex-wrap: wrap;
    }
  
    .topnav a {
      display: none;
    }
  
    .topnav a.icon {
      float: right;
      display: block;
    }
  
    .topnav.responsive {
      position: relative;
    }
  
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  
    .topnav.responsive a {
      float: none;
      display: block;
      line-height: 0.4;
      text-align: left;
    }
  
    .submitted-form{
       margin-top: 70px;
    }
  }  
  
  @media screen and (max-width: 800px) {
    .header-logo img {
      width: 150px;
    }
    .main-navbar{
      margin-left: 30px;
    }

    .hero-section {
      display: block;
      box-shadow: unset;
    }
  
    .hero-content {
      background: #fff;
      color: #000;
      padding: 0;
      min-width: auto;
    }
  
    .hero-content::after {
      content: unset;
    }
  
    .hero-content .btn-signup {
      display: none;
    }
  
    .hero-headline {
      width: 100%;
      flex-wrap: wrap;
      font-size: 2.5rem;
      white-space: normal;
    }
  
    .hero-text {
      width: unset;
      font-size: 1rem;
      margin-top: 1.5rem;
    }
  
    .hero-img img {
      border-radius: 10px;
      margin-top: 40px;
    }
  
    .hero-section>.btn-signup {
      display: block;
      margin: 32px auto 10px;
      padding: 12px 35px;
    }
  
    .copyrights {
      margin-top: 50px;
      text-align: center;
    }
  }


  
  @media screen and (min-width: 801px) {
    .header-logo img {
      width:200px;
    }
  
    .hero-headline {
      width: 100%;
      flex-wrap: wrap;
     font-size: 4.8rem;
    }
    

  }