/* Règlages de base et reset */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-default);
  font-size: 16px;
  align-items: center;
}
p {
  margin-bottom: 0;
  padding: 0.5vw;
}

/* Animation */
@keyframes modalopen {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
  }
}

/* Barre de navigation */
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
  height: 5rem;
}
.topnav img {
  width: 6.5rem;
}
.topnav a:hover {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 15px;
}
.topnav a.active {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 15px;
}
.main-navbar .fa-bars {
  color: #ff001b;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 10px;
}
.main-navbar .fa-bars:hover {
  background-color: #ff001b;
  color: white;
  transition: all ease-in-out 0.3s;
}
.topnav .link-main-navbar {
  display: none;
  color: #000000;
  text-align: center;
  padding: 12px 12px;
  margin: 5px;
  text-decoration: none;
  font-size: 20px;
  font-family: Roboto, sans-serif;
}

/* partie principale */
main {
  font-weight: bolder;
  color: black;
  padding-top: 0.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 1px 20px 15px;
  border-radius: 2rem;
  text-align: justify;
}
.modal-btn {
  font-size: 145%;
  background: #fe142f;
  display: flex;
  margin: auto;
  padding: 2em;
  color: #fff;
  padding: 0.75rem 2.5rem;
  border-radius: 1rem;
  cursor: pointer;
}
.modal-btn:hover {
  background: #3876ac;
}

/* Modale de formulaire*/
.submitButton {
  background: #fe142f;
  margin-top: 0.5em;
  padding: 1em;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}
.submitButton:hover {
  background: #3876ac;
}
.modalBackground {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.modalContent {
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #232323;
  border-radius: 10px;
  overflow: auto;
  position: relative;
  color: #fff;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 0;
}
.modalBody {
  padding: 15px 8%;
}
label {
  font-family: var(--font-default);
  font-size: 13px;
  line-height: 12px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 10px;
}
input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}
.valid {
  border: 2px solid #279e7a;
}
.invalid {
  border: 2px solid #e54858;
}
.errorMsg,
.errorOptionMsg {
  color: #e54858;
  font-size: 0.75rem;
  display: block;
}
.hidden {
  display: none;
}
.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
}
.formData {
  margin-bottom: 10px;
}
.towns {
  text-align: start;
}
.radioItem label {
  font-size: 12px;
}
.radioItem {
  display: inline-block;
  position: relative;
  padding-right: 5px;
}
.radioItem input[type="radio"] {
  display: none;
}
.radioItem label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin-right: 3px;
  width: 17px;
  height: 17px;
  border-radius: 11px;
  border: 1px solid white;
  background-color: transparent;
}
.radioItem input[type="radio"]:checked + label:after {
  border-radius: 11px;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 8px;
  left: 3px;
  content: " ";
  display: block;
  background: #279e7a;
}
.radioItem input[type="radio"]:checked + label:before {
  border-color: #279e7a;
}

/* test checkbox */
.formCheck {
  display: inline-block;
  position: relative;
  padding-right: 5px;
}
.formCheck input[type="checkbox"] {
  display: none;
}
.ConsentLabels {
  font-size: 11px;
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}
.ConsentIcons {
  margin-left: 1.5rem;
}
.ConsentLabels .ConsentIcons {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -25px;
  transition: 0.3s;
}
.ConsentLabels .ConsentIcons::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}
.formCheck
  input[type="checkbox"]:checked
  + .ConsentLabels
  .ConsentIcons::after {
  opacity: 1;
}
.formCheck input[type="checkbox"]:checked + .ConsentLabels .ConsentIcons {
  background: #279e7a;
}
.ConsentLabels .ConsentIcons {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}
.ConsentLabels .ConsentIcons::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}
.thanksCloseBtn {
  margin-top: auto;
}
.closeFormCross {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.5);
}
.closeFormCross:before,
.closeFormCross:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 38px;
  width: 5px;
  background-color: #fff;
}
.closeFormCross:before {
  transform: rotate(45deg);
}
.closeFormCross:after {
  transform: rotate(-45deg);
}
.formSubmitBtn {
  margin: 0 auto;
  font-size: 0.75rem;
  padding: 0.5rem 2.5rem;
}
.formSubmitBtn,
.heroBtn {
  background: #fe142f;
  display: block;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  border: 0;
}
.heroBtn {
  font-size: 1rem;
  padding: 12px 82px;
}
.townLabel {
  margin-top: -5px;
  font-weight: normal;
  font-size: 16px;
}
.heroWrapper {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: unset;
}
.heroContent {
  grid-column: span 5;
  position: relative;
  text-align: left;
  background: #fff;
  color: #000;
}
.heroContent::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #232323;
  position: absolute;
  right: -80px;
  content: unset;
  top: 0;
}
.heroContent > * {
  position: relative;
  z-index: 1;
}
.heroTitle {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 3.9rem;
  white-space: normal;
  margin-bottom: 1rem;
}
.heroText {
  font-weight: normal;
  padding: 0;
  font-size: 0.8rem;
}
.heroBtn {
  outline: none;
  text-transform: capitalize;
  font-size: 0.9rem;
  padding: 0.5rem 2rem;
  margin: 0;
  margin-top: 1.5rem;
  width: 8.8rem;
  align-self: center;
}
.heroImg {
  grid-column: span 8;
}
.heroImg img {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
  border-radius: 10px;
  margin-top: 1.5rem;
}

/* modal de remerciement */
.modal-body-container {
  display: flex;
  flex-direction: column;
  height: 81vh;
  justify-content: space-between;
}
.thanks-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
}

/* Menu en version mobile */
#navWrapper {
  position: absolute;
  top: 3rem;
  right: 0.5rem;
  margin-top: 1rem;
  padding: 0.5rem;
  z-index: 3;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
#navWrapper a {
  text-decoration: none;
  color: inherit;
  padding: 0.5rem;
  border-radius: 5px;
}
#navWrapper a:not(:first-child) {
  margin-top: 0.25rem;
}
#navWrapper a:hover,
#navWrapper a.active {
  color: white;
}
#navWrapper span {
  padding: 0.5rem;
}
.visible {
  display: block;
}

/* Pied de page */
.copyrights {
  color: #fe142f;
  padding: 0;
  font-size: 10px;
  text-align: center;
  font-weight: bolder;
}

footer {
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 0 20px;
}

/* Responsive */
@media screen and (min-width: 492px) {
  .modalBackground {
    background-color: #fff;
    justify-content: center;
  }
  .modalContent {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1024px) {
  main {
    width: 100%;
    margin: 0 5rem;
    padding: 0 80px;
  }
  .topnav .link-main-navbar {
    font-size: 15px;
  }
  .heroBtn {
    position: absolute;
    bottom: 11%;
    left: 3rem;
    font-size: 1.5rem;
    width: auto;
    padding: 1rem 2.5rem;
  }
  .heroWrapper {
    display: grid;
    background-color: black;
    margin: 1.5rem;
    position: relative;
  }
  .heroContent {
    background: transparent;
    color: white;
  }
  .heroImg img {
    margin: 0;
    height: 100%;
  }
  .heroImg {
    grid-column-start: 6;
    grid-column-end: span 7;
  }
  #myTopnav {
    padding: 5rem 7rem;
  }
  .header-logo img {
    width: 10rem;
  }
  .heroTitle {
    font-size: 4rem;
    line-height: 5rem;
    position: absolute;
    white-space: nowrap;
    top: 1rem;
    left: 3rem;
  }
  .heroText {
    font-size: 1.4rem;
    top: 40%;
    left: 3rem;
  }
  .main-navbar .icon {
    display: none;
  }
  .main-navbar {
    display: flex;
  }
  .main-navbar .link-main-navbar {
    display: block;
  }

  .text-control {
    height: 2rem;
  }
  .label {
    margin-bottom: 0.5rem;
    font-size: 16px;
  }
  .modalContent {
    max-width: 540px;
  }
  .radioItem label::before {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  .radioItem input[type="radio"]:checked + label:after {
    width: 17px;
    height: 17px;
    top: 10px;
    left: 5px;
  }
  .formData {
    margin-bottom: 12px;
  }
  .formCheck {
    margin-bottom: 0;
  }
  .towns {
    text-align: justify;
  }
  .ConsentLabels {
    font-size: 12px;
    margin-bottom: 1.5rem;
  }
  .ConsentLabels .ConsentIcons {
    width: 25px;
    height: 25px;
    left: -20px;
  }
  .ConsentLabels {
    margin-left: 2.5rem;
  }
  .ConsentLabels .ConsentIcons::after {
    width: 9px;
    height: 5px;
    left: 25%;
    transform: rotate(-45deg);
  }
  .formSubmitBtn {
    padding: 0.8rem 4rem;
  }
  .formSubmitBtn[value="C'est parti"] {
    font-weight: bold;
  }
  .modal-body-container {
    height: 70vh;
    width: 80%;
    margin: 0 auto;
    align-items: center;
  }
  .thanks-container {
    width: 80%;
  }
  footer {
    align-self: flex-start;
    margin-top: 4.3rem;
    margin-left: 0.8rem;
  }
  .copyrights {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
  }
}

@media screen and (min-width: 1440px) {
  body {
    margin: 0 auto 5rem;
  }
  .heroTitle {
    font-size: 6rem;
    line-height: 8rem;
    top: 3rem;
  }
  .heroText {
    position: absolute;
    top: 55%;
  }
  .modalContent {
    max-height: 100%;
    padding: 0;
  }
  .text-control {
    height: 67px;
  }
  .header-logo img {
    width: 16rem;
  }
  .topnav .link-main-navbar {
    font-size: 17px;
  }
  #closingBtn {
    bottom: 3%;
    padding: 0.7rem 4rem;
    font-size: 16px;
    left: auto;
  }
}
