@use "../abstracts" as a;

footer {
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 0 20px;
  .copyrights {
    color: a.$primary;
    padding: 0;
    font-size: 1rem;
    margin: 60px 0 30px;
    font-weight: bolder;
    @include a.mobile-only {
      margin-top: 50px;
      text-align: center;
    }
  }
}
