body {
    font-family: $font-fam;
}

.footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.modal__checklabel {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.modal__select {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}