.hero-section {
    height: 100%;
    border-radius: 10px;
    color: white;
    background-color: #151515;;
    box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
    padding: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
}

.img-container {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-headline {
    font-size: 4rem;
    font-weight: 500;
    z-index: 1;
}

.hero-text {
    font-size: 1.5rem;
    font-weight: 400;
    width: 50%;
}

.signup-btn {
    background: #fe142f;
    border-radius: 7px;
    font-size: 1rem;
    padding: 12px 82px;
    color: #fff;
    cursor: pointer;
    border: 0;
}



/* Responsive */
@media screen and (max-width: 800px) {

    .hero-section {
        height: 100%;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
        overflow: visible; /* So that the box-shadow of the img-container is visible */
    }

    .img-container {
        position: relative;
        width: 100%;
        height: auto;
        border-radius: 12px;
        box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }

    .hero-headline {
        color: black;
    }

    .hero-text {
        width: 100%;
        color: black;
    }

    .signup-btn {
        align-self: center;
    }
}