.main {
    width: 100%;
    min-width: rem(320);
    margin: 0 auto;
    padding: rem(0) rem(30);
    margin-top: rem(92);
    @include tablet {
        max-width: rem(768);
        margin-top: rem(0);
        padding: rem(0);
    }
    @include desktop {
        max-width: rem(1440);
    }
    &__container {
        position: relative;
        width: 100%;
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: center;
        @include tablet {
            max-width: rem(1240);
            min-height: 40vh;
        }
        @include desktop {
            max-width: rem(1240);
            min-height: 70vh;
        }
    }
    &__content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        @include tablet {
            border-radius: rem(8) rem(8) rem(0) rem(0);
            padding: rem(30);
            color: #fff;
            background-color: $color-secondary;
        }
        @include desktop {
            border-radius: rem(8) rem(0) rem(0) rem(8);
            position: absolute;
            padding: rem(70);
            left: 0;
            width: rem(500);
            height: 80vh;
            align-content: flex-start;
        }
    }
    &__title {
        font-size: rem(45);
        font-weight: 500;
        overflow-wrap: break-word;
        margin-bottom: rem(15);
        @include tablet {
            width: 80%;
            font-size: rem(65);
        }
        @include desktop {
            font-size: rem(96);
            height: rem(300);
            font-weight: normal;
            white-space: nowrap;
        }
    }
    &__txt {
        font-size: rem(13);
        font-weight: 400;
        margin-bottom: rem(19);
        @include tablet {
            font-size: rem(24);
        }
    }
    &__img {
        width: 100%;
        height: 100%;
        @include tablet {   
            height: 45vh;
        }
        @include desktop {
            height: 80vh;
            border-radius: rem(8) rem(8) rem(8) rem(8);
        }
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include tablet {   
                border-radius: rem(0) rem(0) rem(8) rem(8);
            }
            @include desktop {
                border-radius: rem(8) rem(8) rem(8) rem(8);
            }

        }
    }
}
