:root {
    --font-default: "DM Sans", Arial, Helvetica, sans-serif;
    --font-slab: var(--font-default);
    --modal-duration: 0.8s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Landing Page */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    // elle est où cette image?
    // background-image: url("background.png");
    font-family: var(--font-default);
    font-size: 18px;
    max-width: 1300px;
    margin: 0 auto;
}

p {
    margin-bottom: 0;
    padding: 0.5vw;
}

//topnav
.topnav {
    overflow: hidden;
    margin: 3.5%;
    // border: red solid 2px;
    img {
        padding-right: 1rem;
        width: 100%;
        object-fit: cover;
    }
    &__header-logo {
        width: 30%;
        // border: red solid 2px;
        float: left;
    }
    &__main-navbar {
        float: right;
        a {
            float: left;
            display: block;
            color: #000000;
            text-align: center;
            padding: 12px 12px;
            margin: 5px;
            text-decoration: none;
            // font-size: 20px;
            //font à gérer ici:
            font-size: min(1.4vw, 20px);
            &:hover {
                background-color: #ff0000;
                color: #ffffff;
                border-radius: 15px;
                text-decoration: underline;
            }
            &:active {
                background-color: #ff0000;
                color: #ffffff;
                border-radius: 15px;
            }
        }
        font-family: Roboto,
        sans-serif;
        .active {
            background-color: #ff0000;
            color: #ffffff;
            border-radius: 15px;
            text-decoration: underline;
        }
        // icone menu hamburger
        .fa {
            font-size: 50px;
        }
    }
    .icon {
        display: none;
    }
}

//MQ Topnav
@media screen and (max-width: 768px) {
    .topnav {
        border: blue solid 2px;
        &__header-logo {
            width: 50%;
            //    border: green solid 2px;
        }
    }
    .topnav a {
        display: none;
    }
    //icone logo hamburger
    .topnav a.icon {
        float: right;
        display: block;
        color: red;
        // border: green solid 2px;
        padding: 0px;
    }
}

@media screen and (max-width: 768px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 540px) {
    .topnav a {
        display: none;
        .fa {
            font-size: 30px;
        }
    }
    //  Icone logo hamburger
    .topnav a.icon {
        float: right;
        display: block;
        // border: green solid 2px;
        padding: 0px;
    }
}

// ********************************************************************************************************************************************************
// ********************************************************************************************************************************************************
// ********************************************************************************************************************************************************
main {
    font-size: 130%;
    font-weight: bolder;
    color: black;
    padding-top: 0.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 1px 20px 15px;
    border-radius: 2rem;
    text-align: justify;
}

.modal-btn {
    font-size: 145%;
    background: #fe142f;
    display: flex;
    margin: auto;
    padding: 2em;
    color: #fff;
    padding: 0.75rem 2.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.modal-btn:hover {
    background: #3876ac;
}