* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family:"dm_sansregular", sans-serif;
}

  /* Landing Page */
  
  @font-face {
    font-family: 'dm_sansregular';
    src: url('police/dmsans-regular-webfont.woff2') format('woff2'),
         url('police/dmsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

  body{
    height: 90vh;
    font-size: 18px;
  }
  
  .index_header {
    width: 85%;
    height: 15vh;
    display: flex;
    align-items: center;
    margin: auto;
  }

  .nav_menu{
    width: 90%;
    display: flex;
    justify-content: flex-end;
  }

  .nav_menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav_menu ul li{
    display: inline-flex;
  }

  .nav_menu ul li:first-child a{
    display: none;
  }

  .index_header a {
    display: inline-block;
    color:black;
    padding: 12px 12px;
    font-size: 19px;
  }
  
  .index_header a:hover {
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 15px;
  }
  
  
  .index_header .icon {
    display: none;
  }
    
  .main_index{
    width: 85%;
    margin: auto;
    font-size: 20px;
    box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
  }
  
  .container_main {
    display: grid;
    grid-template-columns: 35% 65%;
  }
  
  .container_main-entete {
    grid-column:1/2;
    background-color: black;
    color: #fff;
  }
  
  .container_main-picture{
    grid-column:2/3;
    background-image: url("ressources/bg_img.jpg");
    background-size: cover;
    background-position: center center;
    border-radius: 7px;
  }
  
  .hero-headline{
    position: relative;
    z-index: 10;
    font-size: 3.5em;
    padding-left: 70px;
    padding-top: 50px;
    font-weight: 600;
    letter-spacing: 2px;
    white-space: nowrap;
  }

  .hero-text{
    font-weight: normal;
    font-size: 20px;
    padding-left: 80px;
    padding-top: 50px;
    width: 90%;
    height: 250px;
  }

  .modal-btn {
    background: #fe142f;
    color: #fff;

    width: 200px;
    height: 70px;
    margin-left: 70px;
    margin-bottom: 50px;

    font-weight: bold;
    font-size: 25px;
    text-align: center;
    letter-spacing: 1px;

    border:none;
    border-radius: 10px;
    outline-color: transparent;
    cursor: pointer;

  }
  
  .modal-btn:hover {
    background: #3876ac;
  }
  
  
  footer {
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 0 20px;
  }

  .copyrights {
    color: #fe142f;
    font-size: 1rem;
    margin: 60px 0 30px;
    font-weight: bolder;
  }
  
  .background_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(26, 39, 156, 0.4);
  }
  
  .window_modal {
    margin: 5% auto;
    width: 100%;
    max-width: 500px;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    background: #232323;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: #fff;
    padding-top: 10px;
  }
  
  .modal-body {
    padding: 15px 8%;
    margin: 15px auto;
  }
  
  label {
    font-family: var(--font-default);
    font-size: 17px;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 11px;
  }
  input {
    padding: 8px;
    border: 0.8px solid #ccc;
    outline: none;
  }
  .input-value{
    margin: 0;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    height: 48px;
  }
  .formData[data-error]::after {
    font-size: 0.4em;
    color: #e54858;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
  }
  .checkbox-label,
  .checkbox2-label {
    position: relative;
    margin-left: 36px;
    font-size: 12px;
    font-weight: normal;
  }
  .checkbox-label .checkbox-icon,
  .checkbox2-label .checkbox-icon {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #279e7a;
    border-radius: 50%;
    text-indent: 29px;
    white-space: nowrap;
    position: absolute;
    left: -30px;
    top: -1px;
    transition: 0.3s;
  }
  .checkbox-label .checkbox-icon::after,
  .checkbox2-label .checkbox-icon::after {
    width: 13px;
    height: 13px;
    background-color: #279e7a;
    border-radius: 50%;
    text-indent: 29px;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    opacity: 0;
  }
  .check-box {
    display: none;
  }
  .check-box:checked + .checkbox-label .checkbox-icon::after,
  .check-box:checked + .checkbox2-label .checkbox-icon::after {
    opacity: 1;
  }
  .check-box:checked + .checkbox2-label .checkbox-icon {
    background: #279e7a;
  }
  .checkbox2-label .checkbox-icon {
    border-radius: 4px;
    border: 0;
    background: #c4c4c4;
  }
  .checkbox2-label .checkbox-icon::after {
    width: 7px;
    height: 4px;
    border-radius: 2px;
    background: transparent;
    border: 2px solid transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
    transform: rotate(-55deg);
    left: 21%;
    top: 19%;
  }
  .close_modal {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
  }
  .close_modal:before,
  .close_modal:after {
    position: absolute;
    left: 15px;
    height: 33px;
    width: 3px;
    background-color: #fff;
  }
  .close_modal:before {
    transform: rotate(45deg);
  }
  .close_modal:after {
    transform: rotate(-45deg);
  }
  .btn-submit{
    background: #fe142f;
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    font-size: 1rem;
    padding: 12px 82px;
    color: #fff;
    cursor: pointer;
    border: 0;
  }
  /* custom select styles */
  .custom-select {
    position: relative;
    font-family: Arial;
    font-size: 1.1rem;
    font-weight: normal;
  }
  
  .custom-select select {
    display: none;
  }
  .select-selected {
    background-color: #fff;
  }
  
  .select-items div:hover,
  .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
  /* custom select end */
  .text-label {
    font-weight: normal;
    font-size: 16px;
  }
  
  @keyframes modalopen {
    from {
      opacity: 0;
      transform: translateY(-150px);
    }
    to {
      opacity: 1;
    }
  }


  @media screen and (max-width: 768px) {
    body{
      width: 95%;
      height: auto;
      margin: auto;
    }

    .index_header{
      height: auto;
      justify-content: space-between;
      margin:auto;
    }

    .header-logo img{
      width: 100px;
    }

    .index_header a {
      display: none;
    }

    .index_header .icon{
      display: initial;
      color: red;
    }

    .main_index{
      box-shadow:none;
      position: relative;
      font-weight: normal;
    }

    .container_main{
      display: flex;
      flex-direction: column;
    }

    .container_main-entete {
      background-color: white;
      color: black;
      display: flex;
      flex-direction: column;
      height: auto;
    }

    .hero-headline{
      position:initial;
      font-size: 1.5em;
      font-weight: 600;
      white-space: initial;
      padding:0;
      letter-spacing: 1px;
      margin-bottom: 20px;
    }

    .hero-text{
      font-size: 12px;
      padding: 0;
      width: 100%; 
      height: auto;   
    }

    .container_main-picture{
      width: 100%;
      height: 450px;
      margin: 25px auto;
    }

    .modal-btn {
      width: 160px;
      height: 35px;
      margin: 0;
      font-size: 16px;
      position: absolute;
      bottom: -40px;
      left: 50%;
      transform: translateX(-50%);
    
    }
    
    .copyrights {
      font-size: 10px;
      text-align: center;
    }
  }

  @media screen and (min-width:769px) and (max-width:990px){

    
    .header-logo img{
      width: 150px;
    }

    .index_header a{
      font-size: 15px;
    }

    .main_index{
      box-shadow:none;
      position: relative;
      font-weight: normal;
    }

    .container_main{
      display: flex;
      flex-direction: column;
    }

    .container_main-entete {
      background-color: white;
      color: black;
      display: flex;
      flex-direction: column;
      height: auto;
    }

    .hero-headline{
      position:initial;
      font-size: 3.3em;
      font-weight: 600;
      white-space: initial;
      padding:0;
      letter-spacing: 1px;
      margin-bottom: 20px;
    }

    .hero-text{
      font-size: 20px;
      padding: 0;
      width: 100%; 
      height: auto;   
    }

    .container_main-picture{
      width: 100%;
      height: 450px;
      margin: 25px auto;
    }

    .modal-btn {
      width: 160px;
      height: 35px;
      margin: 0;
      font-size: 16px;
      position: absolute;
      bottom: -40px;
      left: 50%;
      transform: translateX(-50%);
    }

    footer{
      text-align: center;    }
  }

  