:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Landing Page */

body {
  margin: 0;
  min-height: 100vh;
  background-color: white;
  font-family: var(--font-default);
  font-size: 18px;
}

.overflow{
  overflow: hidden;
}


/*HEADER*/

header {
  display: flex;
  justify-content: space-between;
  max-width: 1380px;
  margin: 0 auto;
  padding: 5% 3%;
}

/*LOGO*/
.header-logo {
  height: 50px;
}

/*NAVBAR*/
.header-nav {
  display: flex;
  gap: 5px;
}

.header-nav a {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  transition: all .3s ease-in-out;
}

.header-nav a:hover, .header-nav a.active {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 15px;
}

.header-toggle {
  display: none;
}

@media screen and (max-width: 992px){
  header {
    flex-wrap: wrap;
    padding: 2%;
    padding-bottom: 0%;
  }
  .header-logo img {
    height: 1.5rem;
  }
  .header-nav {
    width: 100%;
  }
}


@media screen and (max-width: 768px) {

  /* header{
    flex-direction: initial;
    align-items: flex-start;
    justify-content: space-between;
  } */
  .header-logo{
    width: 50%;
  }
  .header-toggle {
    display: block;
    width: 30px;
    height: 30px;
    font-size: 1.25rem;
    background-color: #ff0000;
    border: none;
    border-radius: 10px;
  }
  .header-toggle i{
    color: white;
    line-height: 15px;
    margin: 0 auto;
  }
  .header-nav{
    flex-direction: column;
    overflow: hidden;
    height: 0;
    transition: height .3s ease-in-out;
  }
  .menu-open .header-nav{
    height: 220px;
  }
  .header-nav a {
    flex-shrink: 0;
    height: 40px;
  }
}

/* MAIN */

main {
  max-width: 1239px;
  padding: 2% 3%;
  margin: 0 auto;
}

@media screen and (max-width: 992px){
  main {
    padding: 0 3%;
  }
}

/* HERO SECTION */

.hero-section {
  display: flex;
  justify-content: stretch;
  background: #232323;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
}
.hero-content{
  display: flex;
  flex-direction: column;
  gap: 73px;
  width: 480px;
  padding: 56px 30px 70px;
  color: #fff;
}
.hero-headline{
  position: relative;
  font-size: 6rem;
  white-space: nowrap;
}
.hero-text{
  font-size: 1.5rem;
}

.btn-signup {
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
  border: 0;
  width: 200px;
  margin: 0 auto;
  font-size: 1rem;
  padding: 10px 15px;
  font-size: 1.25rem;
  border-radius: 1rem;
  transition: all .3s ease-in-out;
}

.btn-signup:hover{
  background: rgba(26
, 39, 156)
}
.hero-img {
flex-grow: 1;
overflow: hidden;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FOOTER */
footer {
  margin: 2%;
  padding: 1%;
  max-width: 1380px;
}
.copyrights{
  font-family: Roboto, sans-serif;
  color: #ff0000;
  font-size: 15px ;
}


/***********RESPONSIVE 992PX **************/

@media screen and (max-width: 992px) {
  .hero-section {
    position: relative;
    flex-direction: column;
    padding-bottom: 60px;
    box-shadow: inherit;
    background: inherit;
    gap: 10px;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 0;
    color: #000000;
  }
  .hero-headline {
    font-size: 3rem;
    white-space: nowrap;
  }
  .hero-text {
    font-size: 1.5rem;
  }
  .hero-img{
    flex-grow: 0;
    overflow: initial;
  }
  .hero-img img {
    height: initial;
    padding: inherit;
    border-radius: 15px;
  }

  .btn-signup{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }

  .copyrights {
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .copyrights {
    font-size: 10px;
  }
}


/* Modal form */

.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}
.modal-open .bground {
  display: block;
}
.content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}

.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}

label {
  font-family: var(--font-default);
  font-size: 1.125rem;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 11px;
}
input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}
.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 1.25rem;
  height: 48px;
}
.formData{
  margin: 11px 0;
}
.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.4em;
  color: #e54858;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
}
.formData[data-error-visible="true"] .text-control {
  border: 2px solid #e54858;
}

.form-label {
  width: 100%;
}
.form-control {
  width: 100%;
  border-radius: 10px;
  height: 48px;
  font-size: 1.25rem;
}
.error{
  font-size: 0.75rem;
  color: red;
}
.checkbox-label,
.form-check-label {
  position: relative;
  font-size: 12px;
  font-weight: normal;
}

.checkbox-label{
  margin-left: 36px;
}

.form-check-label{
  position: relative;
  margin-left: 10px;
}

.checkbox-label .checkbox-icon,
.form-check-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}
.checkbox-label .checkbox-icon::after,
.form-check-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}
.checkbox-input {
  display: none;
}
.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .form-check-label .checkbox-icon::after {
  opacity: 1;
}
.checkbox-input:checked + .form-check-label .checkbox-icon {
  background: #279e7a;
}
.form-check-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}
.form-check-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}
.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
  transition: all .3s;
}
.close:hover{
  transform: rotate(-45deg);
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.form-submit {
  background: #fe142f;
  display: block;
  margin: 0 auto;
  border-radius: 7px;
  font-size: 1rem;
  padding: 12px 82px;
  color: #fff;
  cursor: pointer;
  border: 0;
}
/* custom select styles */
.custom-select {
  position: relative;
  font-family: Arial;
  font-size: 1.1rem;
  font-weight: normal;
}

.custom-select select {
  display: none;
}
.select-selected {
  background-color: #fff;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 10px;
  right: 13px;
  width: 11px;
  height: 11px;
  border: 3px solid transparent;
  border-bottom-color: #f00;
  border-left-color: #f00;
  transform: rotate(-48deg);
  border-radius: 5px 0 5px 0;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  transform: rotate(135deg);
  top: 13px;
}

.select-items div,
.select-selected {
  color: #232323;
  padding: 11px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  border-radius: 8px;
  height: 48px;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #fff;
  top: 89%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/* custom select end */
.text-label {
  font-weight: normal;
  font-size: 16px;
  margin: 11px 0;
}

/********** REMERCIEMENT **********/
.thanks {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  height: 600px;
  }

.thanks-message {
flex-grow: 1;
display: flex; 
align-items: center;
text-align: center;
height: 500px;
font-size: 30px;
font-weight: 400;
}



@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
