:root
{
    --modal-duration: 0.8s;
}
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.test
{
    border: 1px solid red;
}
/* Landing Page */

/* Plices du site */
/* font-family: 'DM Sans', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

/* BODY general */
body
{
    margin: 0;
    padding: 0;

    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

/* ---------- HEADER ---------- */
/* barre de menu */
header
{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 187px;

    padding-left: 3vw;
    padding-right: 3vw;
}
.spacer
{
    display: none;
}
.logo
{
    height: 50px;
    width: auto;
}
/* on wrap les onglets et on les calle à droite */
.topnav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
/* couleur des menu-link */
.menu-link
{
    color: #000000;

    text-align: center;
    padding: 12px 12px;
    margin: 5px;
    text-decoration: none;
    font-size: 18px;
} 
/* menu-links en hover */
.menu-link:hover
{
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 15px;
    text-decoration: underline;
    text-underline-offset: 4px;
}
/* menu-link de page active */
.active
{
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 15px;
    text-decoration: underline;
    text-underline-offset: 4px;
}
/* on cache el burger en format pc */
.icon
{
    display: none;
}

/* format menu mobile */
@media screen and (max-width: 992px)
{
    header
    {
        height: 110px;

        position: fixed;
        top: 0;
        right: 0;
        left: 0;

        z-index: 1000;
    }
    .logo
    {
        height: 30px;
        width: auto;
    }
    .spacer
    {
        display: block;
        height: 110px;
    }
    /* on cache les menu link en format mobile */
    .menu-link
    {
        display: none;
        text-align: right;
    }
    .icon
    {
        display: block !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon>i
    {
        font-size: 30px;
        color: #ff0000;
    }
    /* on déclare le burger quand on est en format mobile */
    .topnav.responsive a.icon
    {
        position: relative;
    }
    /* on fait apparaitre le menu des onglets */
    .topnav.responsive
    {
        background-color: white;
        border-radius: 0 0 0 16px;

        position: absolute;
        display: flex;
        flex-direction: column;

        float: right;
        top: 85px;
        /* left: 0; */
        right: 0 ;

        z-index: 1000;
    }
    /* on clock les icones quand on à cliqué sur l'icone burger */
    .topnav.responsive a 
    {
        display: block;
    }
}
/* format menu mobile */
@media screen and (max-width: 768px)
{
    header
    {
        height: 90px;
    }
    .spacer
    {
        display: block;
        height: 110px;
    }
    .logo
    {
        height: 19px;
        width: auto;
    }
    .icon>i
    {
        font-size: 19px;
    }
}





















/* ---------- MAIN ---------- */
main
{
    color: black;
    padding-top: 0.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 2rem;
    text-align: justify;
}
/* 
hero-section
hero-content
hero-text
btn-signup modal-btn
hero-img
*/

.hero-section
{
    max-width: 1240px;
    margin: auto;
    min-height: 70vh;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow: hidden;
    box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px)
{
    .hero-section
    {
        max-width: 1240px;
        
        margin: auto;
        min-height: 70vh;
        border-radius: 10px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        overflow: hidden;
        box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
    }
}

.hero-content
{
    grid-column: span 4;
    background: #232323;
    color: #fff;
    position: relative;
    text-align: left;
}
@media screen and (min-width: 768px)
{
    .hero-content
    {
        padding-top: 53px;
        padding-left: 56px;
    }
}
.hero-content::after
{
    content: "";
    width: 100%;
    height: 100%;
    background: #232323;
    position: absolute;
    right: -80px;
    top: 0;
}
.hero-content > *
{
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 768px)
{
    .hero-section
    {
        display: block;
        box-shadow: unset;
    }
    .hero-content
    {
        background: #fff;
        color: #000;
    }
    .hero-content::after
    {
        content: unset;
    }
}


/* H1 */
.hero-headline
{
    font-size: 40px;
    margin-bottom: 16px;
}
@media screen and (min-width: 768px)
{
    .hero-headline
    {
        font-size: 60px;
        white-space: nowrap;
    }
}
@media screen and (min-width: 992px)
{
    .hero-headline
    {
        font-size: 96px;
        white-space: nowrap;
    }
}
/* P */
.hero-text
{
    font-size: 13px;
    font-weight: 400;
    width: unset;
    margin-bottom: 36px;
}
@media screen and (min-width: 768px)
{
    .hero-text
    {
        width: 146%;
        font-size: 24px;
        margin-top: 73px;
        padding: 0;
    }
}
/* image */
.hero-img 
{
    border-radius: 10px;
}
img
{
    width: 100%;
}
@media screen and (min-width: 768px)
{
   /* format pc */
    .hero-img
    {
        grid-column: span 8;
    }
    .hero-img img
    {
        width: 100%;
        height: 100%;
        display: block;
        padding: 0;
    }
}
/* bouton s'inscrire */
.btn-signup
{
    background: #fe142f;
    border-radius: 7px;
    font-family: 'DM Sans', sans-serif;
    /* font-weight: 400; */
    font-size: 14px ;
    margin: auto;
    /* padding: 12px 82px; */
    color: #fff;
    cursor: pointer;
    border: 0;
    outline: none;
    text-transform: capitalize;
    /* font-size: 1.3rem; */
    padding: 6px 32px;
    margin-top: 25px;
}

/* bouton s'inscrire en haut version mobile */
.hero-content>.btn-signup
{
    display: none;
}
/* bouton s'inscrire en bas version mobile */
.hero-section > .btn-signup
{
    display: block;
}
/* format PC */
@media screen and (min-width: 768px)
{
    /* bouton s'inscrire en bas version mobile */
    .hero-section>.btn-signup
    {
        display: none;
    }
    /* bouton s'inscrire en haut version mobile */
    .hero-content>.btn-signup
    {
        display: block;
        margin-left: 0; 
        font-size: 25px;
        margin-top: 73px;
    }
}
.modal-btn
{
    font-size: 145%;
    background: #fe142f;
    display: flex;
    margin: auto;
    padding: 2em;
    color: #fff;
    padding: 0.75rem 2.5rem;
    border-radius: 1rem;
    cursor: pointer;
}
.modal-btn:hover
{
    background: #3876ac;
}
.btn-valider
{
    font-size: 145%;
    background: #fe142f;
    display: flex;
    margin: auto;
    padding: 2em;
    color: #fff;
    padding: 0.75rem 2.5rem;
    border-radius: 1rem;
    cursor: pointer;
}




































.modal-btn
{
    font-size: 145%;
    background: #fe142f;
    display: flex;
    margin: auto;
    padding: 2em;
    color: #fff;
    padding: 0.75rem 2.5rem;
    border-radius: 1rem;
    cursor: pointer;
}
.modal-btn:hover
{
    background: #3876ac;
}



/* Modal form */

.button {
  background: #fe142f;
  margin-top: 0.5em;
  padding: 1em;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background: #3876ac;
}

.smFont {
  font-size: 16px;
}

.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}

.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}

label {
  font-family: var(--font-default);
  font-size: 17px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 11px;
}
input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}
.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
}
.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.4em;
  color: #e54858;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
}
.formData[data-error-visible="true"] .text-control {
  border: 2px solid #e54858;
}
/* 
input[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: red;
} */
.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  font-weight: normal;
}
.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}
.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}
.checkbox-input {
  display: none;
}
.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}
.checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: #279e7a;
}
.checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}
.checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}
.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/* custom select styles */
.custom-select {
  position: relative;
  font-family: Arial;
  font-size: 1.1rem;
  font-weight: normal;
}

.custom-select select {
  display: none;
}
.select-selected {
  background-color: #fff;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 10px;
  right: 13px;
  width: 11px;
  height: 11px;
  border: 3px solid transparent;
  border-bottom-color: #f00;
  border-left-color: #f00;
  transform: rotate(-48deg);
  border-radius: 5px 0 5px 0;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  transform: rotate(135deg);
  top: 13px;
}

.select-items div,
.select-selected {
  color: #000;
  padding: 11px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  border-radius: 8px;
  height: 48px;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #fff;
  top: 89%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide
{
    display: none;
}

.select-items div:hover,
.same-as-selected
{
  background-color: rgba(0, 0, 0, 0.1);
}
/* custom select end */
.text-label {
  font-weight: normal;
  font-size: 16px;
}




.btn-submit
{
    background: #fe142f;
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    font-size: 1rem;
    padding: 12px 82px;
    color: #fff;
    cursor: pointer;
    border: 0;
}













/* ---------- FOOTER ---------- */
.copyrights
{
    font-family: 'Roboto', sans-serif;
    color: #fe142f;
    font-size: 10px;
    text-align: center;
    font-weight: bolder;

    margin-top: 30px;
    margin-bottom: 26px;
}
@media screen and (min-width: 801px)
{
    .copyrights
    {
        color: #fe142f;
        font-size: 15px;
        text-align: left;

        margin-top: 99px;
        margin-bottom: 63px;
        margin-left: 5%;
    }
}






















@keyframes modalopen
{
    from
    {
        opacity: 0;
        transform: translateY(-150px);
    }
    to
    {
        opacity: 1;
    }
}










.d-none
{
    display: none;
}
.ml-auto
{
    margin-left: auto;
}
.justify-content-between
{
    display: flex;
    justify-content: space-between;
}