:root {
  --font-default: 'DM Sans', Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Landing Page */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url('background.png');
  font-family: var(--font-default);
  font-size: 18px;
  max-width: 1300px;
  margin: 0 auto;
}

p {
  margin-bottom: 0;
  padding: 0.5vw;
}

.topnav {
  overflow: hidden;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 20px auto;
}

.header-logo {
  float: left;
  width: 15%;
  display: flex;
  align-items: center;
}

.header-logo img {
  width: 100%;
}

.main-navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: medium;
  font-family: Roboto, sans-serif;
}

.topnav a:hover {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 10px;
}

.topnav a.active {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 10px;
}

.topnav .icon {
  display: none;
}

main {
  font-weight: bolder;
  width: 85%;
  margin: auto;
  border-radius: 10px;
  text-align: left;
}

.modal-btn {
  font-size: 145%;
  background: #fe142f;
  display: flex;
  margin: auto;
  padding: 2em;
  color: #fff;
  padding: 0.75rem 2.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.modal-btn:hover {
  background: #3876ac;
}

/* Modal form */
.button {
  background: #fe142f;
  margin-top: 0.5em;
  padding: 1em;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background: #3876ac;
}

.smFont {
  font-size: 16px;
}

.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.content {
  margin: 5% auto;
  width: 100%;
  max-width: 425px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
}

.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}

label {
  font-family: var(--font-default);
  font-size: 0.7em;
  font-weight: normal;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}

.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: medium;
  height: 50px;
}

#options {
  display: none;
}

#conditions {
  margin-top: 20px;
  margin-bottom: 40px;
}

/* [DATA-ERROR]
.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.4em;
  color: #e54858;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}

.formData[data-error-visible='true']::after {
  opacity: 1;
}

.formData[data-error-visible='true'] .text-control {
  border: 2px solid #e54858;
}

input[data-error]::after {
  content: attr(data-error);
  font-size: 0.4em;
  color: red;
}*/

.errorMsg {
  font-size: x-small;
  color: #e54858;
}

#errorConditions,
#errorForm {
  position: absolute;
  margin-left: 30px;
}

.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 30px;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
}

.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -2px;
  transition: 0.3s;
}

.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: '';
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}

.checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: #279e7a;
}

.checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}

.checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 3px;
  background-color: #fff;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.btn-submit,
.btn-signup {
  background: #fe142f;
  display: block;
  border-radius: 7px;
  border: 0;
  margin: 20px auto;
  padding: 15px 30px;
  font-size: medium;
  color: #fff;
  cursor: pointer;
}

/* custom select styles */
.custom-select {
  position: relative;
  font-family: Arial;
  font-size: 1.1rem;
  font-weight: normal;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: #fff;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: '';
  top: 10px;
  right: 13px;
  width: 11px;
  height: 11px;
  border: 3px solid transparent;
  border-bottom-color: #f00;
  border-left-color: #f00;
  transform: rotate(-48deg);
  border-radius: 5px 0 5px 0;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  transform: rotate(135deg);
  top: 13px;
}

.select-items div,
.select-selected {
  color: #000;
  padding: 11px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  border-radius: 8px;
  height: 48px;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #fff;
  top: 89%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* custom select end */
.text-label {
  font-weight: normal;
  font-size: medium;
  margin-top: 15px;
}

.hero-section {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 15px 5px rgba(0, 0, 0, 0.2);
}

.hero-content {
  color: #fff;
  position: relative;
  text-align: left;
  background: #fff;
  display: flex;
  flex-flow: row-reverse;
  justify-content: flex-end;
}

.hero-content > * {
  position: relative;
  z-index: 1;
}

#contents {
  background-color: #232323;
  border-radius: 10px 0 0 10px;
}

.hero-headline {
  padding: 40px;
  font-size: 2.5rem;
  font-weight: 600;
  white-space: normal;
  color: white;
}

.hero-text {
  font-weight: normal;
  margin-top: 20px;
  font-size: 1.3rem;
  margin: 0 20px 15px;
  color: white;
}

#text {
  padding: 25px;
}

.btn-signup {
  z-index: 0;
  width: 40%;
  outline: none;
  font-size: 1.3rem;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 15px 10px;
  font-size: medium;
}

.hero-img {
  width: -webkit-fill-available;
  display: flex;
  justify-content: flex-end;
}

.hero-img img {
  height: 100%;
  border-radius: 0 10px 10px 0;
}

.hero-section > .btn-signup {
  display: none;
}

footer {
  font-family: var(--font-slab);
  margin: 20px;
}

.copyrights {
  color: #fe142f;
  text-align: center;
  font-weight: bolder;
  font-size: xx-small;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 2560px) {
  #contents {
    width: -webkit-fill-available;
  }
}

@media screen and (max-width: 1440px) {
  .topnav {
    width: 80%;
  }
  main {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .topnav {
    width: 90%;
  }
  main {
    width: 90%;
  }
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnavresponsive {
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 20px auto;
  }
  .topnavresponsive .main-navbar {
    width: 80%;
    background-color: white;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    text-align: right;
  }
  .main-navbar a {
    font-size: x-small;
    text-decoration: none;
    color: black;
  }
  .topnav .main-navbar .fa-times {
    display: none;
  }
  .topnavresponsive .main-navbar .fa-bars {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hero-content {
    flex-direction: column;
  }
  #contents {
    background-color: transparent;
    border-radius: 0 0 0 0;
    width: 100%;
  }
  .hero-headline {
    width: 75%;
    padding-left: 20px;
  }
  #text {
    background-color: #232323;
    border-radius: 0 0 10px 10px;
    padding: 20px 0;
  }
  .hero-text {
    font-size: 1rem;
  }
  .hero-img {
    position: absolute;
    width: 100%;
    top: 0;
  }
  .hero-img img {
    border-radius: 10px 10px 0 0;
    transform: none;
    width: inherit;
  }
  #signup {
    display: flex;
    justify-content: flex-end;
  }
  .hero-section .btn-signup {
    display: block;
    font-size: small;
  }
  .copyrights {
    margin-top: 0;
    text-align: center;
    font-size: x-small;
  }
  .content {
    width: 90%;
    margin: 5% auto;
  }
  label {
    font-size: 0.5em;
  }
  .text-control {
    font-size: small;
    height: 35px;
    padding: 5px;
  }
  .text-label {
    font-size: small;
  }
  #formDataConditions {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .checkbox2-label {
    width: 95%;
  }
  .btn-submit {
    width: 50%;
    text-align: center;
    padding: 12px 0;
    font-size: small;
  }
}

@media screen and (min-width: 675px) and (max-width: 767px) {
  .topnav,
  .topnavresponsive {
    width: 55%;
  }
  main {
    width: 55%;
  }
}

@media screen and (min-width: 575px) and (max-width: 675px) {
  .topnav,
  .topnavresponsive {
    width: 65%;
  }
  main {
    width: 65%;
  }
}

@media screen and (min-width: 475px) and (max-width: 575px) {
  .topnav,
  .topnavresponsive {
    width: 75%;
  }
  main {
    width: 75%;
  }
}


@media screen and (max-width: 375px) {
  .hero-headline {
    font-size: 2rem;
    font-weight: 600;
  }
}