* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("background.png");
  font-size: 18px;
  width: 1440px;
  height: 944px;
  margin: 0 auto;
}

/*nav*/
nav {
  width: 1240px;
  height: 50.1px;
  margin: 52px 100px;
  display: flex;
  justify-content: space-between;
}
.header-logo img {
  width: 277px;
  height: 49.86px;
}

.main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}

nav a {
  color: #000000;
  text-align: center;
  text-decoration: none;
  width: 142px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a:hover {
  background-color: #fe142f;
  color: #ffffff;
  border-radius: 8px;
  text-decoration: underline white;
  text-underline-offset: 4px;
}

nav a.active {
  background-color: #fe142f;
  color: #ffffff;
  border-radius: 8px;
  text-decoration: underline white;
  text-underline-offset: 4px;
}

nav a span {
  width: 110px;
  height: 23px;
  font-size: 18px;
  text-align: center;
}

nav .icon {
  display: none;
}

/*main*/

main {
  color: black;

  border-radius: 8px;
  text-align: justify;
}

/*hero style*/

.hero-section {
  width: 1239px;
  height: 657px;
  border-radius: 8px;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
  display: flex;
}

.hero-content {
  background: #232323;
  width: 509px;
  height: 657px;
  color: #fff;
  position: relative;
  text-align: left;
  min-width: 424px;
  border-radius: 8px 0 0 8px;
  display: flex;
  flex-direction: column;
}

.hero-img img {
  width: 730px;
  height: 657px;
  border-radius: 0 8px 8px 0;
}
.hero-headline {
  width: 670px;
  height: 240px;
  font-size: 96px;
  line-height: 125px;
  margin: 53px 513px auto 56px;
  font-weight: normal;
  white-space: nowrap;
}

.hero-text {
  width: 430px;
  height: 93px;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  margin: 0 753px 0 56px;
}

.hero-content > * {
  z-index: 1;
}

.btn-signup {
  width: 199px;
  height: 55px;
  border-radius: 8px;
  background: #fe142f;
  color: white;
  padding: 11px 26px;
  cursor: pointer;
  border: 0;
  font-size: 25px;
  line-height: 32.55px;
  margin-left: 56px;
  margin-top: 73px;
  margin-bottom: 70px;
}

/*footer*/

.copyrights {
  width: 243px;
  height: 18px;
  color: #fe142f;
  font-size: 14px;
  margin: 0 1157px 0 40px;
}
footer {
  padding: 50px 0 2px 0;
}

.hero-section > .btn-signup {
  display: none;
}

/*Responsive*/

@media screen and (max-width: 800px) {
  .main-navbar {
    margin: 1rem auto;
  }
  .main-navbar a {
    font-size: 1rem;
  }
  .hero-section {
    display: block;
    box-shadow: unset;
  }
  .hero-content {
    background: #fff;
    color: #000;
    padding: 20px;
  }
  .hero-content::after {
    content: unset;
  }
  .hero-content .btn-signup {
    display: none;
  }
  .hero-headline {
    font-size: 3.5rem;
    white-space: normal;
  }
  .hero-text {
    width: unset;
    font-size: 1.5rem;
    text-align: justify;
  }
  .hero-img img {
    border-radius: 10px;
    margin-top: 40px;
  }
  .hero-section > .btn-signup {
    display: block;
    margin: 32px auto 10px;
    padding: 12px 35px;
  }
  .copyrights {
    margin-top: 50px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .hero-headline {
    font-size: 3rem;
    white-space: normal;
  }
  .hero-text {
    font-size: 1.2rem;
  }
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    font-size: 3rem;
    padding: 0;
  }
  .header-logo img {
    padding: 2rem;
    width: 20rem;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 540px) {
  .hero-headline {
    font-size: 2.8rem;
  }
  .header-logo img {
    margin: 0.5rem 0;
    width: 15rem;
  }
}

@media screen and (max-width: 462px) {
  .hero-headline {
    font-size: 2.6rem;
  }
  .hero-text {
    width: 90%;
    font-size: 1rem;
  }
  .header-logo img {
    padding: 1.5rem;
    width: 14rem;
  }
}

@media screen and (max-width: 440px) {
  .hero-headline {
    font-size: 2.5rem;
  }
  .hero-text {
    width: 85%;
    font-size: 1.2rem;
  }
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    font-size: 2.5rem;
  }
  .header-logo img {
    margin: 0.5rem;
    width: 13rem;
  }
}

@media screen and (max-width: 400px) {
  .hero-headline {
    font-size: 2rem;
  }
  .hero-text {
    width: 80%;
    font-size: 1rem;
  }
  .topnav a.icon {
    font-size: 2rem;
  }
  .header-logo img {
    padding: 0.5rem 1.5rem;
    width: 10rem;
  }
}

@media screen and (max-width: 360px) {
  .hero-headline {
    font-size: 2rem;
  }
  .hero-text {
    width: 70%;
    margin-top: 30px;
    padding: 0;
    font-size: 1rem;
  }
  .header-logo img {
    padding: 0.5rem 1.5rem;
    width: 10rem;
  }
}

@media screen and (max-width: 342px) {
  .hero-headline {
    font-size: 1.5rem;
  }
  .hero-text {
    width: 65%;
    font-size: 1rem;
  }
  .header-logo img {
    padding: 1.5rem;
    width: 10rem;
  }
}

@media screen and (max-width: 320px) {
  .hero-headline {
    font-size: 1.2rem;
  }
  .hero-text {
    width: 60%;
    font-size: 1rem;
  }
  .topnav a.icon {
    font-size: 1rem;
  }
  .header-logo img {
    padding: 1rem;
    width: 8rem;
  }
}
