button, .button {
  background: #fe142f;
  margin-top: 0.5em;
  padding: 1em;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;  
  border: none;
  &:hover {
    background: #3876ac;
  }
}

.btn-submit,
.btn-signup {
  display: block;
  margin: auto;
  border-radius: 7px;
  font-size: 1rem;
  border: none;
}
.modal-btn {
  font-size: 145%;
  background: #fe142f;
  display: flex;
  margin: auto;
  padding: 0.75rem 2.5rem;
  border-radius: 1rem;
}
