label {
    font-family: var(--font-default);
    font-size: 15px;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 11px;
  }
  input {
    padding: 8px;
    border: 0.8px solid #ccc;
    outline: none;
  }
  .text-control {
    margin: 0;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    height: 48px;
  }
  .formData[data-error]::after{
    content: attr(data-error);
    font-size: 0.4em;
    color: #e54858;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    
  }
  .formData[data-error-visible="true"]::after {
    opacity: 1;
  }
  .formData[data-error-visible="true"] .text-control,
  .inputError{
    border: 2px solid #e54858;
  }
  /* */
  input[data-error]::after,
  .formError {
      content: attr(data-error);
      font-size: 15px;
      color: red;
      transition: 0.3s;
      margin-top: 0;
  } 

  .checkbox-label,
  .checkbox2-label {
    position: relative;
    margin-left: 36px;
    font-size: 12px;
    font-weight: normal;
  }
  .checkbox-label .checkbox-icon,
  .checkbox2-label .checkbox-icon {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #279e7a;
    border-radius: 50%;
    text-indent: 29px;
    white-space: nowrap;
    position: absolute;
    left: -30px;
    top: -1px;
    transition: 0.3s;
  }
  .checkbox-label .checkbox-icon::after,
  .checkbox2-label .checkbox-icon::after {
    content: "";
    width: 13px;
    height: 13px;
    background-color: #279e7a;
    border-radius: 50%;
    text-indent: 29px;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    opacity: 0;
  }
  .checkbox-input {
    display: none;
  }
  .checkbox-input:checked + .checkbox-label .checkbox-icon::after,
  .checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
    opacity: 1;
  }
  .checkbox-input:checked + .checkbox2-label .checkbox-icon {
    background: #279e7a;
  }
  .checkbox2-label .checkbox-icon {
    border-radius: 4px;
    border: 0;
    background: #c4c4c4;
  }
  .checkbox2-label .checkbox-icon::after {
    width: 7px;
    height: 4px;
    border-radius: 2px;
    background: transparent;
    border: 2px solid transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
    transform: rotate(-55deg);
    left: 21%;
    top: 19%;
  }