
//──── colors definition ───────────────────────────────────────────────────────
$color-red: #FE142F;
$color-black: #232323;
$color-white: #FFFFFF;
$color-green: #279E7A;
$color-blue:#7C62FF;
$color-grey: #C4C4C4;
$color-warning: #FF4E60;


//──── breapoints definition ───────────────────────────────────────────────────
$mobile-breakpoint: 576px;
$tablet-breakpoint: 768px;
$laptop-breakpoint: 992px;
$desktop-breakpoint: 1400px;

/*
//──── spinner animations ─────────────────────────────────────────────────────
$loading-spinner-size: 250px;
$loading-spinner-circle-thikness: 5px;
$loading-spinner-duration: 3s;

//──── checkmark-anim-duration ─────────────────────────────────────────────────
$checkmark-anim-duration: 400ms

*/