$color-primary: #FE142F;
$color-secondary: #232323;
$color-bg: #E5E5E5;
$color-error: #FF4E60;
$color-valid: #279e7a;
$color-disabled : #c4c4c4;

$font-fam: "DM Sans", Arial, Helvetica, sans-serif;

$modal-duration: 0.8s;