//-----Font-------

$font: "DM Sans", Arial, Helvetica, sans-serif;

//-----Breakpoints

$breakpoints: (
    smartphone: 540px,
    tablette: 768px,
);

//-----Colors

$primary: #fe142f;
$secondary: #3876ac;


