         :root {
            --font-default: "DM Sans", Arial, Helvetica, sans-serif;
            --font-slab: var(--font-default);
            --modal-duration: 0.8s;
        }
        
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        /* Landing Page */
        
        body {
            margin: 0;
            display: flex;
            flex-direction: column;
            // elle est où cette image?
            // background-image: url("background.png");
            font-family: var(--font-default);
            font-size: 18px;
            max-width: 1300px;
            margin: 0 auto;
        }
        
        p {
            margin-bottom: 0;
            padding: 0.5vw;
        }
        
        //********************************************************************************************************************************************************
        // TOPNAV--------------------***************************************************************************************************************************************************
        // ********************************************************************************************************************************************************
        .topnav {
            overflow: hidden;
            margin: 3.5%;
            // border: red solid 2px;
            img {
                //  margin-top: 20px;
                padding-right: 1rem;
                width: 100%;
                object-fit: cover;
            }
            &__header-logo {
                width: 30%;
                // border: red solid 2px;
                float: left;
            }
            &__main-navbar {
                float: right;
                a {
                    float: left;
                    display: block;
                    color: #000000;
                    text-align: center;
                    padding: 12px 12px;
                    text-decoration: none;
                    //font à gérer ici:
                    font-size: min(1.8vw, 20px);
                    //   font-size: max(2.3vw, 13px);
                    &:hover {
                        background-color: #ff0000;
                        color: #ffffff;
                        border-radius: 15px;
                        text-decoration: underline;
                    }
                    &:active {
                        background-color: #ff0000;
                        color: #ffffff;
                        border-radius: 15px;
                    }
                }
                font-family: Roboto,
                sans-serif;
                .active {
                    background-color: #ff0000;
                    color: #ffffff;
                    border-radius: 15px;
                    text-decoration: underline;
                }
                // icone menu hamburger
                .fa {
                    font-size: 50px;
                    padding: 4px;
                }
            }
            .icon {
                display: none;
            }
        }
        
        // ********************************************************************************************************************************************************
        // MEDIA-QUERIES-------------TOPNAV-------***************************************************************************************************************************************************
        // ********************************************************************************************************************************************************
        //MQ Topnav
        @media screen and (max-width: 768px) {
            .topnav {
                // border: blue solid 2px;
                position: relative;
                img {
                    margin-top: 20px;
                }
                &__main-navbar {
                    margin-top: 40px;
                    padding: 0px 0px;
                    width: 100%;
                    // border: black solid;
                }
                &__header-logo {
                    width: 50%;
                    //    border: green solid 2px;
                }
            }
            .topnav a {
                display: none;
                font-size: 18px;
            }
            //icone logo hamburger
            .topnav a.icon {
                position: absolute;
                right: 0px;
                top: 0px;
                display: block;
                color: red;
                // border: green solid 2px;
                &:hover {
                    background-color: #ff0000;
                    color: #ffffff;
                }
            }
        }
        
        //   MQ géré par JS
        @media screen and (max-width: 768px) {
            .topnav.responsive {
                position: relative;
                right: 0px;
                top: 0px;
                // height: 265px;
            }
            .topnav.responsive .menu-responsive {
                position: fixed;
                background-color: white;
                margin-left: 1%;
                width: 90%;
                z-index: 2;
            }
            .topnav.responsive .icon {
                position: absolute;
                right: 0px;
                top: 0px;
            }
            .topnav.responsive a {
                float: none;
                display: block;
                text-align: center;
            }
        }
        
        @media screen and (max-width: 540px) {
            .topnav {
                &__main-navbar {
                    margin-top: 50px;
                    //   border: cornflowerblue solid;
                }
            }
            .topnav a {
                display: none;
                font-size: 13px;
                //   taille logo menu hamburger
                .fa {
                    font-size: 40px;
                }
            }
            //  Icone logo hamburger
            .topnav a.icon {
                position: absolute;
                right: 0px;
                top: 0px;
                //    float: right;
                display: block;
                color: red;
                //    border: green solid 2px;
                &:hover {
                    background-color: #ff0000;
                    color: #ffffff;
                }
            }
        }
        
        // ********************************************************************************************************************************************************
        // MAIN-------------***************************************************************************************************************************************************
        // ********************************************************************************************************************************************************
        main {
            font-size: 130%;
            font-weight: bolder;
            color: black;
            padding-top: 0.5vw;
            padding-left: 2vw;
            padding-right: 2vw;
            margin: 1px 20px 15px;
            border-radius: 2rem;
            text-align: justify;
        }
        
        .modal-btn {
            font-size: 145%;
            background: #fe142f;
            display: flex;
            margin: auto;
            padding: 2em;
            color: #fff;
            padding: 0.75rem 2.5rem;
            border-radius: 1rem;
            cursor: pointer;
        }
        
        .modal-btn:hover {
            background: #3876ac;
        }
        
        //hero-section
        .hero-section {
            // min-height: 93vh;
            border-radius: 10px;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            overflow: hidden;
            box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
            margin-bottom: 10px;
        }
        
        //hero-content
        .hero-content {
            //  padding: 51px 67px;
            padding: 51px 20px 51px 25px;
            grid-column: span 4;
            background: #232323;
            color: #fff;
            position: relative;
            text-align: left;
            // important sinon le h1 ne dépasse pas du bloc gris sur firefox
            // min-width: 424px;
            min-width: 100px;
        }
        
        .hero-content::after {
            content: "";
            // width: 100%;
            // width: 20%;
            // height: 100%;
            // background: #232323;
            position: absolute;
            // right: -80px;
            // top: 0;
        }
        
        .hero-content>* {
            position: relative;
            z-index: 1;
        }
        
        //hrero-img
        .hero-img {
            grid-column: span 8;
        }
        
        .hero-img img {
            width: 100%;
            height: 100%;
            display: block;
            padding: 0;
            object-fit: cover;
        }
        
        .btn-submit,
        .btn-signup,
        .btn-closeThanks {
            background: #fe142f;
            display: block;
            margin: 0 auto;
            border-radius: 7px;
            font-size: 1rem;
            padding: 12px 82px;
            color: #fff;
            cursor: pointer;
            border: 0;
        }
        
        .btn-signup {
            outline: none;
            text-transform: capitalize;
            font-size: 1.3rem;
            padding: 15px 23px;
            margin: 0;
            margin-top: 59px;
        }
        
        .hero-section>.btn-signup {
            display: none;
        }
        
        //hero-headline
        .hero-headline {
            // font-size: 6rem;
            font-size: min(10vw, 90px);
            font-weight: normal;
            white-space: nowrap;
            span {
                display: block;
            }
        }
        
        //hero-text
        .hero-text {
            width: 100%;
            font-weight: normal;
            margin-top: 20px;
            padding: 0;
        }
        
        //footer
        .footer {
            margin: 20px;
            padding: 10px;
            font-family: var(--font-slab);
        }
        
        // ********************************************************************************************************************************************************
        // FOOTER****************************************************************************************************************************************************
        // ********************************************************************************************************************************************************
        footer {
            padding-left: 2vw;
            padding-right: 2vw;
            margin: 0 20px;
        }
        
        .copyrights {
            color: #fe142f;
            padding: 0;
            // font-size: 1rem;
            font-size: 15px;
            margin: 60px 0 30px;
            font-weight: bolder;
        }
        
        // ********************************************************************************************************************************************************
        // MEDIA QUERIES-------hero-section----************************************************************************************************************************************************
        // ********************************************************************************************************************************************************
        @media screen and (max-width: 800px) {
            .hero-section {
                display: block;
                box-shadow: unset;
            }
            .hero-content {
                background: #fff;
                color: #000;
                padding: 0px;
            }
            .hero-content::after {
                content: unset;
            }
            .hero-content .btn-signup {
                display: none;
            }
            .hero-headline {
                //   font-size: 4.5rem;
                font-size: max(5vw, 30px);
                // font-size: 30px;
                white-space: normal;
                font-weight: bold;
                // pour sauter une ligne sans utiliser la balise br
                span {
                    display: inline;
                }
            }
            .hero-text {
                font-size: max(3vw, 12px);
            }
            .hero-img img {
                border-radius: 10px;
                margin-top: 40px;
            }
            .hero-section>.btn-signup {
                display: block;
                margin: 32px auto 10px;
                padding: 12px 35px;
            }
            .copyrights {
                margin-top: 50px;
                text-align: center;
            }
        }
        
        //********************************************************************************************************************************************************
        // FORMULAIRE--------------------***************************************************************************************************************************************************
        // ********************************************************************************************************************************************************
        //bground
        .bground {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            overflow: auto;
            background-color: rgba(26, 39, 156, 0.4);
        }
        
        .bloc-thanks {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            overflow: auto;
            background-color: rgba(26, 39, 156, 0.4);
        }
        
        .modal-thanks {
            color: white
        }
        
        .btn-closeThanks {
            // margin-top: 330px;
            margin-top: 350px;
        }
        
        .textThanks {
            margin: 330px 50px 0 50px;
            text-align: center;
        }
        
        //content
        .content {
            margin: 5% auto;
            width: 100%;
            max-width: 500px;
            animation-name: modalopen;
            animation-duration: var(--modal-duration);
            background: #232323;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            color: #fff;
            padding-top: 10px;
        }
        
        //close
        .close {
            position: absolute;
            right: 15px;
            top: 15px;
            width: 32px;
            height: 32px;
            opacity: 1;
            cursor: pointer;
            transform: scale(0.7);
        }
        
        .close:before,
        .close:after {
            position: absolute;
            left: 15px;
            content: " ";
            height: 33px;
            width: 3px;
            background-color: #fff;
        }
        
        .close:before {
            transform: rotate(45deg);
        }
        
        .close:after {
            transform: rotate(-45deg);
        }
        
        //modal-body
        .modal-body {
            padding: 15px 8%;
            margin: 15px auto;
        }
        
        //formData
        //   .formData[data-error]::after {
        //       content: attr(data-error);
        //       font-size: 0.4em;
        //       color: #e54858;
        //       display: block;
        //       margin-top: 7px;
        //       margin-bottom: 7px;
        //       text-align: right;
        //       line-height: 0.3;
        //       opacity: 0;
        //       transition: 0.3s;
        //   }
        //  .formData[data-error-visible="true"]::after {
        //      opacity: 1;
        //  }
        //  .formData[data-error-visible="true"] .text-control {
        //      border: 2px solid #e54858;
        //  }
        //text-label
        .text-label {
            font-weight: normal;
            font-size: 16px;
        }
        
        //label
        label {
            font-family: var(--font-default);
            font-size: 17px;
            font-weight: normal;
            display: inline-block;
            margin-bottom: 11px;
        }
        
        //text-control
        .text-control {
            margin: 0;
            padding: 8px;
            width: 100%;
            border-radius: 8px;
            font-size: 20px;
            height: 48px;
        }
        
        //input
        input {
            padding: 8px;
            border: 0.8px solid #ccc;
            outline: none;
        }
        
        ///////GESTION DES BOUTONS RADIO ET CHECK ///////////////////////////////////////////////////////////////////
        /////////////////////////////////////////////////////////////////////////
        /////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////// */
        //checkbox-label
        .checkbox-label,
        .checkbox2-label {
            position: relative;
            margin-top: -10px;
            margin-left: 36px;
            font-size: 12px;
            font-weight: normal;
        }
        /* Mise en forme des boutons radios */
        
        .checkbox-label .checkbox-icon,
        .checkbox2-label .checkbox-icon {
            display: block;
            text-align: center;
            width: 25px;
            height: 25px;
            border: 1px solid #279e7a;
            border-radius: 50%;
            text-indent: 29px;
            white-space: nowrap;
            position: absolute;
            left: -30px;
            top: -1px;
            transition: 0.3s;
        }
        
        .checkbox-label .checkbox-icon::after,
        .checkbox2-label .checkbox-icon::after {
            content: "";
            width: 17px;
            height: 17px;
            background-color: #279e7a;
            border-radius: 50%;
            text-indent: 29px;
            white-space: nowrap;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: 0.3s;
            opacity: 0;
        }
        /* Mise en forme des cases à cocher
"conditions d'utilisation" et "prochains évènements" */
        /* Désactivation des boutons-radios et cases à cocher natives */
        
        //checkbox-input
        .checkbox-input {
            display: none;
        }
        
        .checkbox-input:checked+.checkbox-label .checkbox-icon::after,
        .checkbox-input:checked+.checkbox2-label .checkbox-icon::after {
            opacity: 1;
        }
        
        .checkbox-input:checked+.checkbox2-label .checkbox-icon {
            background: #279e7a;
        }
        
        .checkbox2-label .checkbox-icon {
            border-radius: 4px;
            border: 0;
            background: #c4c4c4;
        }
        /* Création des Coches "conditions d'utilisation" et "prochains évènements" */
        
        .checkbox2-label .checkbox-icon::after {
            width: 8px;
            height: 4px;
            border-radius: 2px;
            background: transparent;
            border: 2px solid transparent;
            border-bottom-color: #fff;
            border-left-color: #fff;
            transform: rotate(-55deg);
            left: 27%;
            top: 25%;
        }
        
        //fenêtre remerciement
        /* Hauteur de la fenêtre de remerciements */
        
        .containerThanks {
            height: 857px;
        }
        /* Boutons "Je M'inscris", "C'est parti" et "Fermer" deviennent bleu au survol */
        
        .modal-btn:hover,
        .btn-submit:hover,
        .btn-closeThanks:hover {
            background: #3876ac;
        }
        
        //Gestion des erreurs
        .error input {
            color: red;
            border: 3px solid red;
        }
        
        .error span {
            visibility: visible;
            opacity: 1;
            color: red;
            font-size: 10px;
        }