:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1em;
}

html,
body {
  height: 100%;
}


/* ======================== */
/* ===== LANDING PAGE ===== */
/* ======================== */

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: var(--font-default);
  font-size: 18px;
  max-width: 1500px;
  margin: 0 auto;
}

.topnav {
  margin-block: 48px;
  margin-block-end: 80px;
  margin-inline: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 8px 12px;
  margin: 5px;
  text-decoration: none;
  font-size: 20px;
  font-family: Roboto, sans-serif;
}

.topnav a:hover {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 15px;
}

.topnav a.active {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 15px;
}

.topnav .icon {
  display: none;
}

/* ================= */
/* =====  MAIN ===== */
/* ================= */

main {
  font-weight: bolder;
  color: black;
  margin-inline: 24px;
  border-radius: 2rem;
  text-align: justify;
}

.hero-section {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
}

.hero-content {
  padding: 51px 60px;
  grid-column: 1 / span 5;
  background: #232323;
  color: #fff;
  position: relative;
  text-align: left;
}

.hero-content>* {
  position: relative;
  z-index: 1;
}

.hero-headline {
  font-size: 6rem;
  font-weight: normal;
  white-space: nowrap;
}

.hero-text {
  font-weight: normal;
  margin-top: 57px;
  margin-inline-end: -28px;
  padding: 0;
  font-size: 1.5rem;
}

.btn-signup {
  outline: none;
  text-transform: capitalize;
  font-size: 1.5rem;
  padding: 15px 23px;
  margin: 0;
  margin-top: 59px;
  background: #fe142f;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  border: 0;
}

.hero-img {
  grid-column: 6 / span 7;
}

.hero-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  padding: 0;
}

.hero-section>.modal-btn {
  display: none;
}

.modal-btn:hover {
  background: #3876ac;
}

/* =================== */
/* =====  FOOTER ===== */
/* =================== */

footer {
  margin-inline: 24px;
  padding-block-start: 80px;
  padding-block-end: 60px;
  font-family: var(--font-slab);
}

.copyrights {
  color: #fe142f;
  font-size: 1rem;
  font-weight: bolder;
}

/* =========================================== */
/* ===== LARGE TABLETS AND LAPTOP STYLES ===== */
/* =========================================== */

@media screen and (max-width: 1250px) {
  .topnav {
    margin-block-end: 68px;
  }

  .topnav a {
    font-size: 0.95rem;
    margin: 2px;
  }

  .hero-headline {
    font-size: 4.3rem;
  }

  .hero-text,
  .btn-signup {
    font-size: 1.4rem;
  }

  footer {
    padding-block-start: 68px;
    padding-block-end: 48px;
  }
}

@media screen and (max-width: 1000px) {
  .topnav {
    margin-block-end: 56px;
  }

  .header-logo img {
    width: 80%;
  }

  .hero-content {
    padding: 39px 48px;
  }

  .hero-headline {
    font-size: 4rem;
  }

  .hero-text,
  .btn-signup {
    font-size: 1.25rem;
  }
}

/* ========================= */
/* ===== TABLET STYLES ===== */
/* ========================= */

@media screen and (max-width: 900px) {

  .topnav {
    margin-block-end: 0.4rem;
  }

  .topnav a {
    display: none;
    margin: 12px;
    margin-right: 24px;
  }

  .topnav a.icon {
    float: right;
    display: block;
    color: #fe142f;
    font-size: 2rem;
    /* align the burger horizontally with the logo */
    margin-block-start: -8px;
    margin-inline-end: revert;
  }

  .topnav a.icon:hover {
    color: #fff;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-logo {
    align-self: flex-start;
  }

  .header-logo img {
    width: 70%;
  }

  /* give larger space to the menu items */
  .header-navbar a:not(.icon) {
    margin-right: 30px;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    box-shadow: unset;
  }

  .hero-content {
    background: #fff;
    color: #000;
    padding: revert;
  }

  .hero-content .btn-signup {
    display: none;
  }

  .hero-headline {
    white-space: normal;
    font-size: 3.5rem;
  }

  .hero-text {
    margin-block: 1.77rem;
    margin-inline-end: revert;
  }

  .hero-img img {
    border-radius: 10px;
    width: 100%;
    height: 550px;
  }

  .hero-section>.btn-signup {
    display: block;
    margin: 42px auto 10px;
    padding: 12px 35px;
  }

  footer {
    padding-block-start: 40px;
  }

  .copyrights {
    text-align: center;
  }
}

/* ========================= */
/* ===== MOBILE STYLES ===== */
/* ========================= */

@media screen and (max-width: 540px) {
  .topnav {
    margin-block-start: 2rem;
    margin-block-end: 0;
  }

  .topnav a.icon {
    font-size: 1.6rem;
  }

  .header-logo {
    flex: 1;
  }

  .header-navbar {
    flex: 1.3;
  }

  .header-navbar a {
    font-size: 0.9rem;
  }

  /* to give larger space to the menu items */
  .header-navbar a:not(.icon) {
    margin-right: revert;
  }

  .hero-headline {
    font-size: 2.4rem;
  }

  .hero-text,
  .btn-signup {
    font-size: 0.9rem;
    margin-block: 1.5rem
  }

  .hero-img img {
    height: 100%;
  }

  .hero-section>.btn-signup {
    margin: 24px auto 0;
  }

  footer {
    padding-block: 24px;
  }

  .copyrights {
    font-size: 0.6rem;
  }
}