*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // 10px div by def of 16px
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background: $color-white;
}