:root {
    --font-default: "DM Sans", Arial, Helvetica, sans-serif;
    --font-slab: var(--font-default);
    --modal-duration: 0.8s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Landing Page */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url("background.png");
    font-family: var(--font-default);
    font-size: 18px;
    max-width: 1300px;
    margin: 0 auto;
}

p {
    margin-bottom: 0;
    padding: 0.5vw;
}

img {
    padding-right: 1rem;
}